@model Verstegen.Models.Contact

@{
    ViewData["Title"] = "Edit";
}
<header class="masthead masthead-admin d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h2 class="mb-1 h2">Edit Contact</h2>
        <h3 class="3">@ViewBag.Contact.Name</h3>
    </div>
</header>

<div class="container mt-md-5">
    <h4>Contact</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="EditContact">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ContactId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Name" type="text"  value="@ViewBag.Contact.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Function" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Function" type="text"  value="@ViewBag.Contact.Function" class="form-control" />
                    <span asp-validation-for="Function" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Country" type="text"  value="@ViewBag.Contact.Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Province" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Province" type="text"  value="@ViewBag.Contact.Country" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tel" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Tel" type="text"  value="@ViewBag.Contact.Tel" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input required autocomplete="off" asp-for="Email" type="text"  value="@ViewBag.Contact.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImgUrl" class="control-label"></label>
                    <input required autocomplete="off" asp-for="ImgUrl" type="text"  value="@ViewBag.Contact.ImgUrl" class="form-control" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <input type="file" name="photo" class="form-control" />
                        <img src="~/images/contacts/@Model.ImgUrl" alt="Alternate Text" />
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="hidden" asp-for="ContactId" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="AllContacts">Back to List</a>
    </div>

</div>