@model List<Recipe>
<!-- Header -->
<header class="masthead recipes-masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1 h1">Recipes</h1>
        <h2 class="mb-1 h2">Enjoy great taste</h2>
    </div>
</header>

<div class="container">

    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recipes</li>
            </ol>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img class="float-left img-fluid" src="~/images/recipes/clove.jpg" alt="kruidnagel" />
        </div>
        <div class="col-md-6 ml-md-5">
            <h2 class="h2">The finest recipes, created with passion</h2>
            <p class="products-p">
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis faucibus cursus ante.
            </p>
        </div>
    </div>

    <div class="products-content row">
        <div class="col-md-3 products-sidebar">
            <select class="form-control">
                <option value="geen">Geen filter</option>
                @foreach (Category cat in ViewBag.Categories)
                {
                    string val = cat.CategoryValue;
                    string name = cat.CategoryName;
                    <option value="@val">@name</option>
                }
            </select>

            <h5>Type</h5>
            <ul class="product-type-filter">
                @{ int i = 1;}
                @foreach (string type in ViewBag.Types)
                {
                    string s = "cb" + i;
                    <li><input type="checkbox" name="cb" id="@s"><label for="@s">@type</label></li>
                    i++;
                }
                <li><a class="product-filter-more-text" href="#"><img class="add" src="~/images/icons/add.svg"> Show all categories</a></li>
            </ul>

            <h4>How can we help?</h4>

            <div class="contact-bubble card contact-card">
                <div class="contact-us">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="persoon-img" src="@ViewBag.Contact.ImgUrl">
                        </div>
                        <div class="col-md-8">
                            <span class="persoon-naam">@ViewBag.Contact.Name</span>
                            <span class="persoon-functie">@ViewBag.Contact.Function</span>
                        </div>
                    </div>
                    <div class="card col-md-10 phone-card">
                        <img src="~/images/icons/smartphone-call .svg" class="phone-icon" />
                        <span class="phone-number">@ViewBag.Contact.Tel</span>
                    </div>
                    <div class="card col-md-10 phone-card">
                        <img src="~/images/icons/close-envelope.svg" class="phone-icon" />
                        <span class="phone-number">@ViewBag.Contact.Email</span>
                    </div>
                    <div class="card col-md-10 phone-card">
                        <img src="~/images/icons/chat.svg" class="phone-icon" />
                        <span class="phone-number">Send a message</span>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-red btn-lg red-color all-contacts">
                All contacts <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
            </button>

        </div>

        <div class="col-md-8 product-rows">


            <div class="row">
                @foreach (Recipe r in ViewBag.Recipes)
                {
                    <div class="col-md-3 products ml-5 mb-md-5">
                        <div class="card">
                            <a href="@Url.Action("Recipe", "Recipes", new { id = r.RecipeId })">
                                <img class="img-fluid img-small" src="@r.ImgUrl" alt="@r.ImgUrl">
                                <div class="card-body">
                                    <h5 class="card-title">@r.Title</h5>
                                    <p class="card-text">@r.Type</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>

            <div class="row pagination">
                <div class="col-md-3 offset-1 p-0">
                    <div class="page-item">
                        <a href="@Url.Action("Index", "Recipes", new { page = ViewBag.Page-1 })" class="btn btn-red btn-lg @Html.Raw(ViewBag.Page < 2 ? "disabled" : "red-color")">
                            <div class="button-text-white">
                                <img src="~/images/icons/left-arrow.svg" class="icon-arrow-left-white"> Back
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 offset-1 d-flex justify-content-center">
                    @for (var j = 1; j < ViewBag.AmountPages + 1; j++)
                    {
                        <div class="page-item @Html.Raw(ViewBag.Page == j ? "active" : "")"><a class="page-link" href="@Url.Action("Index", "Recipes", new { page = j })">@j</a></div>
                    }
                </div>
                <div class="col-md-3 offset-1 d-flex justify-content-end p-0">
                    <div class="page-item">
                        <a href="@Url.Action("Index", "Recipes", new { page = ViewBag.Page+1 })" class="btn btn-red btn-lg @Html.Raw(ViewBag.Page > ViewBag.AmountPages - 1 ? "disabled" : "red-color")">
                            <div class="button-text-white">
                                Next <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

