@model IEnumerable<Verstegen.Models.Product>

@{
    ViewData["Title"] = "AllProducts";
}

<div class="container">
    <p class="pt-6">
        <a class="btn btn-success" asp-action="Create">Add new product</a>
    </p>
    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AltString)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var products in ViewBag.products)
            {
            <tr>
                <td>
                    @products.Title
                </td>
                <td>
                    @products.Type
                </td>
                <td>
                    @products.Category.CategoryName
                </td>
                <td>
                    @products.Description
                </td>
                <td>
                    @products.Contents
                </td>
                <td>
                    @products.ProductDetails
                </td>
                <td>
                    <img src="@products.ImgUrl" alt="@products.AltString" />
                </td>
                <td>
                    @products.AltString"
                </td>
                <td>
                    <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@products.ProductId"> <i class="far fa-edit"></i> </a>
                    <a class="btn btn-danger btn-block" asp-action="Delete" asp-route-id="@products.ProductId"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>