@using Verstegen.Models;
@{
    ViewData["Title"] = "How we work";
    var BlogCounter = 0;
}

<!-- Header -->
<header class="masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1">How we work</h1>
        <h3 class="mb-1">From crop to plate</h3>
    </div>
    <div class="overlay"></div>
</header>

<div class="container">

    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">How we work</li>
            </ol>
        </div>
    </div>

    @foreach (var d in ViewBag.Blogs)
    {
        @if (BlogCounter == 0)
        {
            <div class="row margin-bottom">
                <div class="col-md-6 mr-5">
                    <img class="img-fluid background-image" src="@d.ImgUrl" alt="Field Worker" />
                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <div class="usp-block">
                        <h6 class="h6">@d.Subtitle</h6>
                        <h2 class="h2">@d.Title</h2>
                        <p class="body-text">
                            @d.Text
                        </p>
                        <button type="button" class="btn btn-red btn-lg">
                            Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                        </button>
                    </div>
                </div>
            </div>
        }

        @if (BlogCounter == 1)
        {
            <div class="row margin-bottom">
                <div class="col-md-5 d-flex align-items-center">
                    <div class="usp-block">
                        <h2 class="h2">@d.Title</h2>
                        <p class="body-text">
                            @d.Text
                        </p>
                        <button type="button" class="btn btn-red btn-lg">
                            Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                        </button>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <img class="img-fluid background-image" src="@d.ImgUrl" alt="Field Worker" />
                </div>
            </div>
        }

        @if (BlogCounter == 2)
        {
         <div class="container-fluid green-background">
              <div class="container">
                    <div class="row margin-bottom py-6">
                        <div class="col-md-6 mr-5">
                            <img class="img-fluid background-image" src="@d.ImgUrl" alt="Field Worker" />
                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <div class="green-usp-block">
                                <h6 class="h6">@d.Subtitle</h6>
                                <h2 class="h2">@d.Title</h2>
                                <p class="body-text">
                                    @d.Text
                                </p>
                                <button type="button" class="btn btn-white btn-lg">
                                    Read more<span class="fas fa-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                 </div>
             </div>
        </div>
        }

        BlogCounter = BlogCounter + 1;
        if (BlogCounter == 3)
        {
            BlogCounter = 0;
        }
    }
</div>