@{
    ViewData["Title"] = "Search";
}

<!-- Header -->
<header class="masthead search-masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1 h1">Search</h1>
        <h2 class="mb-1 h2">& Find</h2>
    </div>
    <div class="overlay"></div>
</header>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="active" href="/search">Search</a></li>
            </ol>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-6">
            <form action="@Url.Action("Index", "Search")" method="GET">
                <h2 class="h2 pb-4">You searched for: @ViewBag.Search</h2>
                <h5 class="h5 align-self-start">Search again:</h5>
                <div class="input-group md-form form-sm form-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text search-ig" id="basic-text1">
                            <i class="fas fa-search search-ic"
                               aria-hidden="true"></i>
                        </span>
                    </div>
                    <input id="result" name="result" class="form-control search-fc my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn  btn-red ">
                        Search <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white search-btn-mg">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <ul class="col-md-6 search">
            @foreach (var p in ViewBag.ResultList)
            {
                string UrlImg = "";
                string TypeString = "";
                if(p is Recipe)
                {
                    UrlImg = "/Recipes/Recipe?id=" + p.RecipeId;
                    TypeString = "Recipe";
                }
                if(p is Product)
                {
                    UrlImg = "/Products/Product?id=" + p.ProductId;
                    TypeString = "Product";
                }
                if (p is Blog)
                {
                    UrlImg = "/Blogs/Blog?id=" + p.BlogId;
                    TypeString = "Blog";
                }

                <a href="@UrlImg">
                    <li>
                        <img class="img-fluid" src="@p.ImgUrl" />
                        <div class="spotText mt-2 ml-2">@TypeString</div>
                        <h5 class="h2">@p.Title</h5>
                        @if (p is Product)
                        {
                            <p>@p.Type</p>
                        }
                        else
                        {
                            <p>@p.SubTitle</p>
                        }
                    </li>
                </a>
            }
        </ul>
    </div>

    <div class="row pagination  justify-content-center">
        <div class="col-md-3 p-0">
            <div class="page-item">
                <a href="@Url.Action("Index", "Search", new { result = ViewBag.Result ,page = ViewBag.Page-1 })" class="btn btn-red btn-lg @Html.Raw(ViewBag.Page < 2 ? "disabled" : "red-color")">
                    <div class="button-text-white">
                        <img src="~/images/icons/left-arrow.svg" class="icon-arrow-left-white"> Back
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            @for (var j = 1; j < ViewBag.AmountPages + 1; j++)
            {
                <div class="page-item @Html.Raw(ViewBag.Page == j ? "active disabled" : "")"><a class="page-link" href="">@j</a></div>
            }
        </div>
        <div class="col-md-3 d-flex justify-content-end p-0">
            <div class="page-item">
                <a href="@Url.Action("Index", "Search", new { result = ViewBag.Result ,page = ViewBag.Page+1 })" class="btn btn-red btn-lg @Html.Raw(ViewBag.Page > ViewBag.AmountPages - 1 ? "disabled" : "red-color")">
                    <div class="button-text-white">
                        Next <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>